<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quito Climate Study</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower-components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower-components/leaflet-dist/leaflet.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="quitoClimateStudyApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->    
    <div class="header" data-ng-controller="HeaderCtrl">
      <img class="headerImg" src="images/logoSecretariadeAmbienteConvertido.jpg" alt="Secretaria de Ambiente Logo">  
      <img class="headerImg" src="images/cdkn-logo.png" alt="CDKN Logo">
      <img class="headerImg2" src="images/sei.jpg" alt="SEI Logo">
      <img class="headerImg pull-right" src="images/qverde.png" alt="qverde Logo">
      <ul class="nav nav-pills">
        <li data-ng-class="{active: isActive('/')}"><a class="navLogo" data-ng-click="resetTitle()" href="#/index.html/"><i class="pull-right glyphicon glyphicon-home"></i></a></li>
        <li data-ng-class="{active: isActive('/Somos')}"><a data-ng-click="resetTitle()" href="#/Somos">Los participantes</a></li>
        <li data-ng-class="{active: isActive('/Metodologia')}"><a data-ng-click="resetTitle()" href="#/Metodologia">Metodología WP 3</a></li>
        <li data-ng-class="{active: isActive('/Vulnerabilidad')}"><a data-ng-click="resetTitle()" href="#/Vulnerabilidad">Vulnerabilidad WP 5&6</a></li>
        <li data-ng-class="{active: isActive('/Adaptacion')}"><a data-ng-click="resetTitle()" href="#/Adaptacion">Adaptación WP 8 y 9</a></li>
        <!--<li><a href="#Vulnerability/agua&season">Test Vulnerability</a></li>-->
      </ul>
      <h3 class="text-muted">{{ getTitle() }}</h3>
    </div>
    
    <!-- Top-level routing applied here -->
    <div class="container-fluid" data-ng-class="{mainArea: setPercentHeight}" data-ng-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower-components/jquery/jquery.js"></script>
    <script src="bower-components/es5-shim/es5-shim.js"></script>
    <script src="bower-components/angular/angular.js"></script>
    <script src="bower-components/json3/lib/json3.min.js"></script>
    <script src="bower-components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower-components/angular-resource/angular-resource.js"></script>
    <script src="bower-components/angular-route/angular-route.js"></script>
    <script src="bower-components/leaflet-dist/leaflet.js"></script>
    <script src="bower-components/angular-leaflet/dist/angular-leaflet-directive.js"></script>
    <script src="bower-components/underscore/underscore.js"></script>
    <script src="bower-components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>        
    <script src="scripts/services/documents.js"></script>
    <script src="scripts/services/vulnerabilidad.js"></script>    
    <script src="scripts/services/introduction.js"></script>
    <script src="scripts/services/legend.js"></script>
    <script src="scripts/controllers/report.js"></script>
    <script src="scripts/directives/documents.js"></script>
    <script src="scripts/directives/contentList.js"></script>
    <script src="scripts/directives/contentPanel.js"></script>        
    <script src="scripts/controllers/vulnerability.js"></script>
    <script src="scripts/directives/layerSection.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/services/titleService.js"></script>
    <script src="scripts/controllers/longflowController.js"></script>
    <script src="scripts/third-party/leaflet-omnivore.min.js"></script>    
    <!-- endbuild -->
   </body>
</html>
