<h3>CAPACIDAD Y MEDIDAS DE ADAPTACIÓN</h3>
<p>
	Las prácticas de adaptación hacen referencia a los “ajustes actuales , o cambios en los ambientes de decisión, los cuales pueden finalmente elevar la resiliencia o reducir la vulnerabilidad a los cambios en el clima observados o esperados” (IPCC 2007). Este estudio conlleva al desarrollo de cinco diferentes aspectos; políticas, infraestructura, iniciativas, proyectos, investigación y recurso humano, que son evaluados para cada factor de vulnerabilidad. El proceso metodológico para identificar la capacidad de adaptación y las medidas de adaptación futuras para el DMQ cumplió las siguientes etapas:
</p>
<img height="400" src="/images/AdaptacionFlow.png"></img>
<p>
	Para obtener más información descargue el reporte <a href="/documents/WP8_Medidas de adaptacion.pdf" target="_blank">Capacidad de Adaptación y medidas de adaptación futuras propuestas para los sectores prioritarios.</a>
</p>
