<div class="row">
	<div class="col-md-3">  	
		<h4>Ambitos de Estudio para el análisis de vulnerabilidad</h4>
		<!--<p><strong>Vulnerabilidad</strong></p>-->
		<div data-ng-repeat="v in vulnerabilities" data-ng-click="changeFocus('vulnerability', v)"><a>{{ v }}</a></div>    
		<!--<p><strong>Amenazas (lista)</strong></p>  		
		<div data-ng-repeat="am in amenazaNames"><a>{{am}}</a></div>-->
		<h4>Documentos/Publicaciones</h4>  		  		
		<div data-ng-repeat="doc in documents"><a href="{{doc.file}}">{{doc.name}}</a></div>	       
	</div>
	<div class="col-md-9" data-ng-show="IsDefaultView()">
		<img src="images/fotoportada.jpg"></img>
	</div>
	<div class="col-md-9" data-ng-show="hasCurrentVulnerability()">
		<div class="row">
			<h4 data-ng-repeat="q in currentQuestions"><a href="#Vulnerability/{{q.vulnerability}}&{{q.name}}">{{q.name}}</a></h4>
		</div>
	</div>
</div>