<div class="row mainArea">
	<div class="col-md-3">  	
		<h4>Geoportal Sectores prioritarios</h4>
		<!--<p><strong>Vulnerabilidad</strong></p>-->
		<div data-ng-repeat="v in vulnerabilities" data-ng-click="changeFocus('vulnerability', v)"><a>{{ v }}</a></div>    
		<!--<p><strong>Amenazas (lista)</strong></p>  		
		<div data-ng-repeat="am in amenazaNames"><a>{{am}}</a></div>-->
		<h4>GeoPortal: Ámbitos de Estudio para el análisis de vulnerabilidad</h4>
		<div data-ng-repeat="doc in documents"><a data-ng-href="{{doc.file}}" target="_blank"><i class="pull-left glyphicon glyphicon-cloud-download form-control-feedback"></i>   {{doc.name}}</a></div>
		<!--<div data-ng-repeat="doc in documents"><a href="{{doc.file}}" target="_blank">{{doc.name}}</a></div>-->
		</br>
	</div>
	<div class="col-md-9" data-ng-show="IsDefaultView()">
		<h1>Estudio de Vulnerabilidad al Cambio Climático-DMQ</h1>
		<img class="pull-right" src="images/pic1.jpg"></img>	
		</br>
		</br>
		<p>La Secretaría de Ambiente del  Distrito Metropolitano de Quito, Alianza, Clima y Desarrollo (CDKN) y el Instituto  del Ambiente de Estocolmo (SEI, por sus siglas en inglés) lideran desde el año 2012 un esfuerzo orientado a  evaluar la situación actual de vulnerabilidad en el DMQ y examinar los factores que pueden contribuir a la vulnerabilidad hasta el año 2050 en cinco sectores prioritarios: <strong>agua, salud, agricultura, ecosistemas y riesgos.</strong> El estudio identifica los distintos elementos expuestos en cada uno de los sectores, evalúa los diferentes niveles de sensibilidad frente amenazas climáticas y antrópicas para determinar la vulnerabilidad de cada sector frente a la variabilidad climática.
		</p>	
		<p><strong>Observación:</strong> “Algunas de las bases de datos desarrolladas en el marco de este estudio son muy complejas, es decir sobrepasan los límites de la actual tecnología web, en particular para compartir  información cartográfica a través de Internet (mapas). Estamos trabajando para encontrar una solución técnica, por lo tanto, en la medida que se identifiquen soluciones adecuadas, se podrá obtener más información."
		</p>
	</div>
	<div class="col-md-9" data-ng-show="hasCurrentVulnerability()">
			<h4>{{ currentVulnerability.name }}</h4>
			<p>{{ currentVulnerability.description }}</p>		
			<p>{{ currentVulnerability.analysisNarrative }}</p>	
			<p>Para obtener más información, <a data-ng-href="/documents/{{ currentVulnerability.furtherInfoReport }}.pdf" target="_blank">descargue el informe.</a></p>
			</br>						
			<div class="well">
				<h4>GeoPortal</h4>
				<div data-ng-repeat="q in currentQuestions">					
					<p><strong><a data-ng-click="chooseQuestion(q.name)" href="#Vulnerability/{{q.vulnerability}}&{{q.name}}">{{q.description}}</a></strong></p>
				</div>							
			</div>
			<p>
				Para obtener más información descargue el <a href="/documents/WP2-3Summary17abril14-aprobadoSA.pdf" target="_blank">Resumen Ejecutivo del Análisis de Vulnerabilidad al Cambio Climático del Distrito Metropolitano de Quito para Sectores Prioritarios.</a>
			</p>		
	</div>
</div>