<div class="row">
	<div class="col-md-3">  	
		<h4>Ambitos de Estudio para el análisis de vulnerabilidad</h4>
		<!--<p><strong>Vulnerabilidad</strong></p>-->
		<div data-ng-repeat="v in vulnerabilities" data-ng-click="changeFocus('vulnerability', v)"><a>{{ v }}</a></div>    
		<!--<p><strong>Amenazas (lista)</strong></p>  		
		<div data-ng-repeat="am in amenazaNames"><a>{{am}}</a></div>-->
		<h4>Documentos/Publicaciones</h4>  		  		
		<div data-ng-repeat="doc in documents"><a href="{{doc.file}}">{{doc.name}}</a></div>	
		</br>
	</div>
	<div class="col-md-9" data-ng-show="IsDefaultView()">
		<img src="images/fotoportada.jpg"></img>
	</div>
	<div class="col-md-9" data-ng-show="hasCurrentVulnerability()">
			<h4>Las Preguntas</h4>
			<div data-ng-repeat="q in currentQuestions">
				<p>
					<strong><a data-ng-click="chooseQuestion(q.name)" href="#Vulnerability/{{q.vulnerability}}&{{q.name}}">{{q.name}}: </a></strong>
					{{q.description}}
				</p>
			</div>
			<h4></h4>
		
	</div>
</div>