<div class="mainArea">
    <h3>¿Quiénes somos?</h3>
    <img class="aroundText" height="200" src="images/quienessomos-img.png" alt="SEI Logo"></img>
    <p>
    	La Estrategia de Quito sobre el Cambio Climático (EQCC), aprobado en octubre de 2009, es la primera respuesta de un gobierno local en Ecuador para hacer frente a  los efectos del clima. El EQCC considera que la diversidad social, económica y ambiental de los habitantes del M-DMQ así como las organizaciones públicas y privadas que exige enfoques específicos.
    </p>
    <p>
    	Es importante resaltar que la gran diversidad ambiental, social y cultural del municipio del Distrito Metropolitano de Quito (DMQ) es altamente vulnerable a los impactos del cambio climático, sobre todo eventos climáticos extremos como sequías y lluvias. En este escenario, es preciso evaluar el grado de vulnerabilidad de los ecosistemas respecto a su función, estructura y dinámica biótica-abiótica  a fin de contribuir a la protección y conservación del patrimonio natural del DMQ. El propósito principal del presente estudio es evaluar la situación actual de vulnerabilidad en el DMQ y examinar los factores que pueden contribuir a la vulnerabilidad hasta el año 2050 en cinco sectores prioritarios: agua, salud, agricultura, ecosistemas y riesgos de incendios.
    </p>
    
    </br>
    </br>
    </br>    
    <h4>VISION</h4>
    <p>
    	Aumentar la capacidad de respuesta del Distrito Metropolitano de Quito (DMQ ) a los efectos del cambio climático y mejorar la sostenibilidad de los medios de subsistencia y los ecosistemas, sobre todo para los sectores más vulnerables , mediante la recopilación de información existente,  sólida y confiable. 
    </p>

    <h4>SEI - STOCKHOLM ENVIRONMENT INSTITUTE</h4>
    <p>
        David Purkey </br>
        Senior Scientist </br>
        Role: Theme leader, Managing Environmental Systems </br>
        david.purkey@sei-international.org </br>
    </p>
    <p>
        Francisco Flores </br>
        Staff Scientist </br>
        Expertise: water resources, groundwater modeling, stream flow pollutants transport </br>
        francisco.flores@sei-international.org </br>
    </p>
    <p>
        Laura Forni </br>
        Staff Scientist </br>
        Expertise: agricultural and resource economics </br>
        laura.forni@sei-international.org </br>
    </p>
    <p>
        Jairo Estacio </br>
        Coordinador Local </br>
        Experiencia: Riesgos </br>
        jairo_estacio@yahoo.com.mx </br>
    </p>
    </br>
    <h4>CDKN - ALIANZA CLIMA Y DESARROLLO</h4>
    <p>
        Carolina Proaño-Castro </br>
        Coordinadora de Proyectos para América Latina y el Caribe </br>
        carolina.proano@ffla.net </br>
    </p>
    </br>
    <h4>SECRETARIA DEL AMBIENTE DEL DMQ</h4>
    <p>
        Diego Javier Enríquez </br>
        Responsable Cambio Climático en Municipio de Quito </br>
        diego.enriquez@quito.gob.ec </br>
    </p>
    <p>
        Nixon Narváez </br>
        Ing. Geógrafo, MSc GIS </br>
        nixonnarvaez@yahoo.es </br>
    </p>
    </br>
    <h4>NUESTROS ESPECIALISTAS SECTORIALES</h4>
    <p>
        Hugo Romero- Saltos </br>
        Sector Ecosistemas </br>
        hgromero@hotmail.com </br>
    </p>
    <p>
        Victoriano Villaruel </br>
        Geógrafo </br>
        svictorvc@gmail.com </br>
    </p>
    </br>
    <h4>NUESTRA RED DE ACTORES SECTORIALES</h4>
    <table border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="121" valign="top">
                    <p align="center">
                        <strong>Sector</strong>
                    </p>
                </td>
                <td width="312" valign="top">
                    <p align="center">
                        <strong>Actores Clave</strong>
                    </p>
                </td>
                <td width="170" valign="top">
                    <p align="center">
                        <strong>Actores de Apoyo en Conocimiento y Políticas</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="121" valign="top">
                    <p>
                        Agua/recursos hídricos
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        EPMAAP
                    </p>
                    <p>
                        SENAGUA
                    </p>
                    <p>
                        FONAG
                    </p>
                    <p>
                        Dirección de Riesgos
                    </p>
                </td>
                <td width="170" valign="top">
                    <p>
                        EPN-Manejo de recursos hídricos de la Facultad de Ingeniería Civil
                    </p>
                    <p>
                        Equipo SEI California con experto en agua
                    </p>
                    <p>
                        SA equipo técnico
                    </p>
                </td>
            </tr>
            <tr>
                <td width="121" valign="top">
                    <p>
                        Ambiente y ecosistemas
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        Secretaria del Ambiente MDMQ
                    </p>
                    <p>
                        Patrimonio Ambiental
                    </p>
                    <p>
                        Monitoreo Ambiental
                    </p>
                    <p>
                        Equipo de Gestión de Conocimiento e información
                    </p>
                    <p>
                        Secretaria de Territorio y Vivienda
                    </p>
                    <p>
                        Secretaria de Gobernabilidad con su Dirección de Riesgos
                    </p>
                </td>
                <td width="170" valign="top">
                    <p>
                        Equipo de la Facultad de biología de la PUCE
                    </p>
                </td>
            </tr>
            <tr>
                <td width="121" valign="top">
                    <p>
                        Salud
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        Secretaria de Salud
                    </p>
                    <p>
                        Ministerio de Salud con Su Distrito Norte
                    </p>
                    <p>
                        IESS
                    </p>
                    <p>
                        Ministerio de Trabajo
                    </p>
                    <p>
                        OPS
                    </p>
                </td>
                <td width="170" valign="top">
                    <p>
                        SA equipo técnico
                    </p>
                    <p>
                        SEI experto en salud EUA
                    </p>
                </td>
            </tr>
            <tr>
                <td width="121" valign="top">
                    <p>
                        Agroproducción
                    </p>
                </td>
                <td width="312" valign="top">
                    <p>
                        SA unidad de producción
                    </p>
                    <p>
                        CONQUITO: Programa de Agricultura urbana
                    </p>
                    <p>
                        Ministerio de Agricultura
                    </p>
                </td>
                <td width="170" valign="top">
                    <p>
                        AGROPRECISION: expertos en agricultura y proyecto de cobertura vegetal del DMQ
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>