<h3>EL ANÁLISIS DE VULNERABILIDAD SECTORIAL</h3>
<p>
	Si bien, el DMQ es reconocido como un territorio con determinados beneficios ambientales, sociales y económicos, resulta ser vulnerable a los impactos del cambio climático debido a condiciones de ubicación geográfica, diversidad de climas y ecosistemas, así como a los niveles de densidad poblacional concentrados en la zona urbana. Al evaluar la situación actual de vulnerabilidad del DMQ y examinar los factores que pueden contribuir a la vulnerabilidad futura (año 2050) en los cinco sectores, se evidencian efectos en:
</p>
<ul>
	<li>Las condiciones funcionales de los ecosistemas;</li>
	<li>Los ciclos de crecimiento de los sistemas de producción tradicionales;</li>
	<li>La reducción del área de páramos que puede afectar al abastecimiento de agua potable;</li>
	<li>La redistribución e incremento de enfermedades respiratorias y aquellas producidas por vectores;</li>
	<li>Finalmente, una tendencia al  incremento e intensidad de los incendios forestales.</li>
</ul>

<p>
	La evaluación de la vulnerabilidad es considerada una herramienta valiosa, que brinda a la municipalidad información relevante para la toma de decisiones, genera capacidades técnicas institucionales, y al mismo tiempo, constituye una base sólida de resultados para futuras evaluaciones a escala territorial. 
</p>
	Para obtener más información descargue el <a href="/documents/WP2-3Summary17abril14-aprobadoSA.pdf" target="_blank">Resumen Ejecutivo del Análisis de Vulnerabilidad al Cambio Climático del Distrito Metropolitano de Quito para Sectores Prioritarios.</a>
<p>
